* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #0F0D13;
    --bg-player: #2A2141;
    --color: #E1E1E6;
    --duration-bar: #D9D9D9;
    --shadow: 5px 10px 10px #9e9d9d4d;

}

#container {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    padding-top: 66px;

    display: flex;
    justify-content: center;

    color: var(--color);
    font-family: Arial, Helvetica, sans-serif;
}

.player {
    min-height: 498px;
    max-height: 600px;
    min-width: 267px;
    width: 50vw;
    max-width: 500px;

    background-color: var(--bg-player);
    padding: 38px;
    border-radius: 10px;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28.8px;

}

.song-image {
    min-width: 190px;
    width: 30vw;
    max-width: 250px;
    min-height: 190px;
    height: 30vw;
    max-height: 250px;
    margin-top: 1vw;
    border-radius: 6px;
    background-color: #9e9d9d4d;
}

.info {
    min-width: 190px;
    width: 30vw;
    max-width: 250px;
    height: 52px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9.6px;

    margin: 0px 38.8px;
}

.title {
    font-weight: 700;
    line-height: 100%;
    font-size: 20px;
}

.artists {
    font-weight: 200;
    line-height: 100%;
    opacity: 0.7;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.duration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 9.6px;
}

button {
    background-color: transparent;
    border: none;
    width: 28px;

    transition: scale .5s;
}

button:hover {
    scale: 1.2;
    transition: scale .5s;
}


input {
    min-width: 190px;
    width: 30vw;
    max-width: 250px;
    cursor: pointer;

    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: var(--duration-bar);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #8c51a3;
    cursor: pointer;
}


input::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #8c51a3;
    cursor: pointer;
}


.time {
    min-width: 190px;
    width: 30vw;
    max-width: 250px;
    display: flex;
    justify-content: space-between;

    opacity: 0.7;
}


